.idea/
.claude/settings.local.json
/workers/__pycache__
/utils/__pycache__
/ui/widgets/__pycache__
/ui/components/__pycache__
/services/__pycache__
/ui/__pycache__
/config/__pycache__
/database/__pycache__
logs/manager.log
/logs
/instance
Beaconatorc2-Manager_old.py
/files
/services/receivers/__pycache__
configs/receivers.json
Metasploit.md
CLAUDE.md
/tests
CLAUDE.local.md
configs/receivers.json
METASPLOIT_IMPROVEMENTS.md
/services/workflows/__pycache__
/ui/workflows/__pycache__
__pycache__/test_performance.cpython-312.pyc
beacons/Go/go_beacon_macos
beacons/Go/go_beacon_windows.exe
beacons/ntds-dump-raw.ps1
beacons/NTDSDumpModule.ahk
beacons/test_beacon.py
docs/WORKFLOW_CANVAS_TECHNICAL_DESIGN.md
docs/WORKFLOW_CANVAS_TECHNICAL_DESIGN.md
docs/WORKFLOW_IMPLEMENTATION_AUDIT.md
schemas/macos_oneliner_beacon.yaml
workflows/workflow_1754467573.json
configs/receivers.json
ui/dialogs/__pycache__/__init__.cpython-311.pyc
ui/dialogs/__pycache__/session_terminal_dialog.cpython-311.pyc
configs/receivers.json
/beacons/BOF
*.vs*
beacons/C/*.obj
/Lib/site-packages/*
beacons/C/src/modules/external/execute_assembly/x64/*
*.pyc
pyvenv.cfg
beacons/C/*.exe
configs/receivers.json
configs/receivers.json
configs/receivers.json
beacon_builder/__pycache__/__init__.cpython-311.pyc
beacon_builder/__pycache__/builder.cpython-311.pyc
beacons/logfile.txt
custom_beacon.ahk
